.account {
  padding: 1em 0;
}

.account__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.25em;
  color: var(--clr-white);

  position: relative;
}

.account__header-avatar {
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  object-fit: cover;
}

.account__header-name {
  margin: 0 auto 0 1em;
}

.account__header-more__icon {
  cursor: pointer;
}

.account__options {
  position: absolute;
  top: 3em;
  right: 1em;

  padding: 1em 0;
  z-index: 2;
}

.option {
  display: block;

  cursor: pointer;
}

.option + .option {
  margin-top: 0.5em;
}

.profile__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 420px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 30, 30, 0.7);
  backdrop-filter: blur(10px);

  overflow-y: hidden;

  z-index: 99;
}

.profile__modal-avatar {
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  object-fit: cover;

  cursor: pointer;
}

.profile__modal-input {
  margin: 2em 0 1.25em;
}

.profile__modal-btn__update {
  width: 100%;
  padding: 1em;
  background-color: var(--clr-white);
  color: var(--clr-primary);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile__modal-btn__close {
  color: var(--clr-white);

  position: absolute;
  top: 10%;
  right: 2em;
  cursor: pointer;
}

.profile__modal-btn__update:hover {
  opacity: 0.7;
}
